*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  .main-div{
    background-color: azure;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60%;
    margin-right: 60%;
  }
  .main-div h1{
    margin-bottom: 20px;
  }
  .edit-submit-login1{
    margin-left: 150px;
  }
  .label{
    
    font-size: 20px;
    margin-left: 5px;
    
  }
  .input-box{
    height: 45px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .button-submit{
    margin-top: 20px;
    height: 45px;
    width: 300px;
    border-radius: 8px;
  }